* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    line-height: 1.5;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "sbr main main"
        "ftr ftr ftr";
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-columns: 0.5fr 3fr 1fr;
    gap: 0.3rem;
    align-items: center;
    justify-items: center;
}

/* ----------------------------------------------------Navbar Section ---------------------------------------------------------------*/
header {
    grid-area: nav;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: auto;
    gap: 10rem;
    z-index: 1;
    justify-content: space-between;

}

#logo {
    color: white;
}

.icons {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.search-bar-section {
    width: 30%;
    align-items: center;
    margin-left: 25rem;
}

.search-bar {
    padding: 0.4rem;
    width: 100%;
    margin: auto;
    font-weight: 500;
    text-indent: 13px;
}

.search-bar:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.1rem;
    padding: 0.8rem;
    box-shadow: 0px 2px 10px;
}

.navbar-icons {
    display: flex;
    justify-content: end;
    width: 25%;
    gap: 1rem;
}

a {
    text-decoration: solid;
    color: white;
    /* margin-left:1rem; */
}

a:hover {
    color: aqua;
}


/* -----------------------------------------------------------Sidebar Section --------------------------------------------------------------*/
aside {
    grid-area: sbr;
    background-color: #EEEEEE;
    color: black;
    padding: 3rem;
    top: 0;
    left: 0rem;
    min-width: 0;
    padding-top: 10rem;
    height: 100vh;
    position: fixed;
}

.menu-title {
    font-weight: 700;
}

.categories-section {
    display: flex;
    flex-direction: column;
}

.sidebar-checkboxes {
    margin-left: 0.5rem;
    transform: scale(1.2);
    cursor: pointer;
}

.sidebar-checkboxes:checked {
    accent-color: black;
}

.categories-item {
    margin: 1px 1px 1px 1px;
    line-height: 2rem;
    padding: 0.3rem;
}

.categories-item>label {
    font-weight: 300;
}

input[type="range"] {
    appearance: none;
    /* remove default styling */
    width: 100%;
    height: 6px;
    background: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding: 4px;
    color: black;

}

/* pusedo class with thumb  */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}


/* ------------------------------------------------------------main section -------------------------------------------------------*/
#main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 6rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
    justify-content: space-evenly;
}

.product-card {
    min-height: 0;
    min-width: 0;
    max-width: 250px;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    cursor: pointer;
    flex-shrink: 1;
    box-shadow: 5px 5px 10px lightblue;
    justify-content: space-between;
}

#readmore {
    color: rgb(255, 0, 9);
}

.card-image>img:hover {
    transform: scale(1.1);
}

.card-image>img,
.cart-item-image {
    border-radius: 3px;
    width: 100%;
    height: 25vh;
    object-fit: contain;

}

.product-title {
    font-size: small;
}

.product-body,
.cart-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
}

.product-content {
    font-size: 0.8rem;
    /* white-space: pre-line; */
    word-wrap: break-word;
}

.price {
    font-weight: 300;
    font-size: 22px;
    /* font-size: 1rem; */
}

#max-price {
    text-decoration: line-through;
    font-weight: normal;
    font-size: 15px;
}

/* -----------------------------------------------Cart Section -----------------------------------------------*/
.cart-data {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    padding: 6rem;
    padding-bottom: 6rem;
    gap: 0.5rem;
    position: relative;
}

.order-summary {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;
    box-shadow: 2px 2px 10px grey;
    position: "fixed";
}

.cart-table {
    padding: 1rem;
}

#table-cart-image {
    width: auto;
    height: 80px;
}

td {
    text-align: center;
    letter-spacing: 1px;
}

.Back_Products_From_Cart {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    width: 17rem;
    height: 2.5rem;
    padding: 3px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6rem;
    font-Size: 1.1rem;
    cursor: pointer;
}

.table-cart-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 500;
}

tbody>tr:hover {
    background-color: lightgrey;
}

tbody>tr:nth-child(even) {
    background-color: #DEE2E6;
    color: black;
}

tbody>tr:nth-child(even):hover {
    background-color: #F8F9FA;
}

#cart-item-count {
    color: white;
    position: absolute;
    top: 5;
    /* left:3; */
    background-color: red;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 3px;
    border-radius: 100%;
}

.icon_rectangle {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-right: 2px;
    background-color: #dde3e8;
    box-shadow: 3px 3px 10px #ADB5BD;
}

/* -----------------------------------------------------Wishlist Section----------------------------------------------------------------- */
.empty_wishlist_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

.WishList-List {
    margin: 3rem;
}

.wishlist-icon {
    width: 50px;
    height: 50px;
}

.wishlist-icon>img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.wishlist-product-container {
    margin-top: 10rem;
    width: 900px;
    margin: auto;
    /* padding:1rem; */
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;

}

.wishList-product-Image>img {
    width: 200px;
    height: auto;
    margin: auto;
}

.wishlist-heading,
.product-heading {
    font-size: 20px;
    margin-top: 0.1rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 1px;
}

.empty_wishlist {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    justify-content: center;
    align-content: center;
}

.empty_wishlist>img {
    width: 30%;
    height: auto;
    margin: auto;
}


.wishlist-icons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
    font-size: 7px;
}

/* -----------------------------------------------------Product Section----------------------------------------------------------------- */


.product-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    padding: 5rem;
    gap: 2rem;
    padding: 5rem;
    margin: 10px 10px 10px 10px;
}

.product-image-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.product-image>img {
    width: 50%;
    min-width: 300px;
    height: auto;
    box-shadow: 3px 3px 10px lightblue;
    position: relative;
}

.thumbnail-container {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    overflow-x: auto;
}

.thumbnail {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ccc;
    object-fit: contain;
}

.thumbnail.active {
    border: 2px solid black;
}

.slider-button {
    background-color: black;
    color: white;
    height: 30px;
    width: 20px;
    border: 1px solid lightgray;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px lightgray;
    padding: 3px;

}

#slider1 {
    position: relative;
    top: 43px;
    right: 20px;
    /* left:0px; */
}

#slider2 {
    position: relative;
    top: -47px;
    left: 300px;
}

.main-product-image {
    width: 300px;
    height: auto;
    box-shadow: 3px 3px 10px lightblue;
}


.product-details-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: break-word;
}

.Back_Products {
    background-color: white;
    color: #ADB5BD;
    border: 1px solid #ADB5BD;
    width: 9rem;
    height: 2.5rem;
    padding: 3px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6rem;
    font-Size: 1.1rem;
    cursor: pointer;
}

.Back_Products:hover {
    background-color: rgb(70, 153, 243, 0.1);
}

#qty {
    width: 4rem;
    padding: 5px;
    margin-left: 1rem;
}


.cart-button {
    background-color: black;
    color: #F8F9FA;
    padding: 0.5rem;
    border-radius: 5px;
    width: 50%;
    border-color: #F8F9FA;
    box-shadow: 3px 3px 5px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #F8F9FA;
    color: black;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-description>li {
    list-style: none;
    position: relative;
}

.product-description>li::before {
    content: "•";
    color: #6C757D;
    margin-right: 1rem;
}


/* -----------------------------------------------Footer Section ---------------------------------------------*/

#footer {
    width: 100vw;
    /* height: 100vh; */
    grid-area: ftr;
    background-color: black;
    color: white;
    font-size: 0.5rem;
    padding: 0.2rem;
    position: fixed;
    bottom: 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    font-size: 7px;
}

.company-right {
    text-align: center;
    font-size: 0.7rem;
}

/*-------------------------------------------------Register-Form ----------------------------------------------------------*/

.register-form {
    background-color: white;
    color: black;
    box-shadow: 3px 3px 10px #bcc0c5e3;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3.5rem;
    display: flex;
    gap: 0.3rem;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: auto;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 0.5rem;
}

.form-header,
.form-section {
    flex: 1 1 400px;
    padding: 1rem;
}

.form-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
}

.profile-pic {
    margin: auto;
    min-width: 130px;
    height: auto;
    background: white;
}

.form-section {
    /* display: flex; */
    /* justify-content: center;  */
    /* align-content: center; */
    /* height: auto; */
    /* padding: 1rem; */
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    /* box-sizing: border-box; */
    /* min-width:400px; */
}

.register-Input-Section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-input-data>label {
    font-weight: 600;
}

.register-input-data>input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    display: block;
    border-radius: 8px;
    border: none;
    word-spacing: 2px;
    background-color: #E9ECEF;
    color: black;
    cursor: pointer;
}

.register-form>input:focus {
    outline: none;
    /* border-bottom: 1px solid black; */
}

.register-button {
    padding: 1rem;
    background-color: black;
    width: 70%;
    margin: auto;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #ccc;
    color: black;
}

.form-link>a {
    color: #6C757D;
}

.form-link>a:hover {
    color: #ADB5BD;
}

.errorMessage {
    color: red;
    font-size: 10px;
    line-height: 13px;
    padding: 0.5rem
}

.error-List {
    list-style: none;
}

/* --------------------------------------------------------------toast pop up-------------------------------------------------- */

.my-progress-bar {
    background-color: #d72303;
    /* Tomato */
}

/*--------------------------------------------------------------profile view --------------------------------------------------*/
.profile-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    padding: 3rem;
}

.profile-view {
    width: auto;
    padding: 1.5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    background-color: white;
    color: black;
    position: float;
    top: 100px;
    right: 1rem;
    border-radius: 5px;
}

.profile-options {
    color: black;
}

.edit-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.cross-button {
    position: absolute;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
}

.profile-form {
    width: 100vw;
    height: 100vh;
    margin-bottom: 5rem;
    overflow-y: scroll;
}

.profile-form-edit {
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3.5rem;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: auto;
    letter-spacing: 1px;
    flex-direction: column;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.profile-edit-button,
.profile-save-button {
    padding: 0.5rem;
    background-color: black;
    width: auto;
    margin: auto;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 1rem;
    overflow-y: hidden;
}

.profile-edit-button:hover,
.profile-save-button:hover {
    background-color: #ccc;
    color: black;
}


/* Fieldset Styling */
fieldset {
    border: 1px solid #111111;
    border-radius: 8px;
    padding: 0.5rem 0.3rem;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    text-indent: 12px;
    padding-top: 16px;
    padding-bottom: 20px;
    background-color: transparent;
    margin-bottom: 12px;
}

/* Legend Styling */
legend {
    color: #6C757D;
    background: #fff;
    margin-left: 10px;
    padding: 1px;
}

/* Input Fields inside Fieldset */
fieldset input {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    outline: none;
    border: none;
    font-size: 20px;
    width: 100%;
}

fieldset input:focus {
    border-color: #000;
}

.profile-edit-input {
    display: flex;
    gap: 10px;
}

.edit-option-icons {
    font-size: 13px;
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
}

/*---------------------------------------------------admin-dashboard--------------------------------------------------*/

.admin-dashboard {
    width: 100vw;
    height: 100vh;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.product-heading {
    font-size: 20px;
    margin-top: 0.1rem;
    text-align: center;
    font-weight: bold;
    padding: 0.1rem;
    letter-spacing: 1px;
}

table {
    margin-top: 1.2rem;
    border-collapse: separate;
    border-spacing: 0;
    width: 85%;
    padding: 10px;
    border-radius: 20px;

}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

th {
    border: 1px solid #dee2e6;
}

th {
    padding: 0.3rem;
}

td {
    text-align: center;

}

tr {
    width: 100%;
}

/*------------------------------------------------Product Panel------------------------------------------------------------*/


.cancel-button {
    background-color: rgb(248, 247, 244);
    color: black;
    padding: 0.3rem;
    border-radius: 5px;
    width: 50%;
    border-color: #F8F9FA;
    margin-left: 9px;
    cursor: pointer;
}